@import "./tokens.css";

@font-face {
  font-family: "Bootzy TM";
  src:
    url("/fonts/BootzyTM.woff2") format("woff2"),
    url("/fonts/BootzyTM.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
blockquote {
  margin: 0;
}

img,
video {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
}
